section {
    height: 100vh;
    margin: 0;
  }
  
  section.active {
  background-color: #f0f0f0; 
  }
  
  html {
  scroll-behavior: smooth;
  }
  
  #section1 .background-video {
  position: absolute; /* Ensure video covers the section */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire section */
  z-index: -1;       /* Place video behind other content */
  transform: scale(1.1);
  overflow-x: hidden;
  }
  
  #section1 .section-content {
  position: relative; /* Position content relative to the section */
  z-index: 1;        /* Place content above the video */
  color: white; /* Example: Make text visible on the video */
  padding: 20px; /* Example: Add some padding */
  }
  
  section {
    height: 100vh;
    margin: 0;
  }
  
  /* ... other section styles ... */
  
  @font-face {
    font-family: 'Compass';
    src: url('fonts/Compass.ttf') format('truetype'); /* Corrected format */
    font-weight: normal; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Compass';
    src: url('fonts/Compass-Bold.ttf') format('truetype'); /* This one was likely okay */
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Compass';
    src: url('fonts/Compass-light.tff') format('truetype'); /* This one was likely okay */
    font-weight: light;
    font-style: normal;
  }
  
  /* If you have other font files, add their @font-face rules here, 
   making sure the format matches the file extension.
   For example:
   @font-face {
       font-family: 'Compass';
       src: url('fonts/Compass-Italic.woff2') format('woff2');
       font-weight: normal;
       font-style: italic;
   }
  
   @font-face {
       font-family: 'Compass';
       src: url('fonts/Compass-BoldItalic.woff2') format('woff2');
       font-weight: bold;
       font-style: italic;
   }
  
   etc.
  */
  
  body {
    font-family: 'Compass', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
  }

  .chocolate_links {    
    text-decoration: none;
    color: chocolate;
  }
  
  h1 {
    font-family: 'Compass', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 5em; 
  }

  h2 {
    font-family: 'Compass', sans-serif;
    font-weight: bold;
    text-align: center; 
  }

  h3 {
    font-family: 'Compass', sans-serif;
    font-weight: bold;
    text-align: center; 
  }

  .blog p, .blog ul {
    padding: 0 10% 0 10%;
    text-align: justify;
    font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  }

  .neighborhood_map {
    text-align: center;
    max-width: -webkit-fill-available;
  }
  
  em {
    font-style: light; 
  }
  
  #section2 {
    height: auto;
    min-height: 100vh;
    margin: 0;
    position: relative; /* Needed for absolute positioning of children */
  }

  #section2 .blog {
    position: relative;
    min-height: 100vh;
  }
  
  .section2-header {
    background-color: rgba(43, 42, 43, 1);
    color: white;
    height: 20%;  /* Top 20% of the section */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    font-family: 'Compass', sans-serif; /* Assuming Compass is already defined */
    font-weight: bold;
  }
  
  .section2-content {
    height: 80%;  /* Remaining 80% of the section */
    display: flex;
    align-items: center; /* Center vertically */
  }
  
  .text-box {
    width: 50%; /* Or adjust as needed */
    text-align: left; /* Justify text to the left */
  }
  
  .video-container {
    width: 50%; /* Or adjust as needed */
    text-align: right; /* Align video to the right */
  }
  
  /* Responsive adjustments (example): */
  @media (max-width: 768px) {  /* Adjust breakpoint as needed */
  .section2-content {
    flex-direction: column; /* Stack vertically on smaller screens */
  }
  .text-box, .video-container {
    width: 100%;
    text-align: center; /* Center content on smaller screens */
  }
  }
  
  #section3 {
    height: 100vh;
    margin: 0;
    position: relative;
  }
  
  .section3-header {
    background-color: white;
    color: black;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Compass', sans-serif;
    font-weight: bold; /* Or adjust font-weight as needed */
  }
  
  .image-grid { display: grid; grid-template-columns: repeat(3, 1fr); /* 3 columns */ 
    grid-template-rows: repeat(2, 1fr); /* 2 rows */ 
    height: 80%; /* Fill the remaining 80% */ 
    gap: 0px; /* Remove any gaps between images */ 
  } 
  .image-container { 
    position: relative; /* For absolute positioning of text */ 
    display: block; /* Make the <a> element a block */ 
    text-decoration: none; /* Remove underline from the link */ 
    overflow: hidden; /* Ensure the zoomed image stays within its container */ 
  } 
  .image-container img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ensure images cover the entire container */ 
    transition: transform 0.5s ease; /* Smooth zoom transition */ 
  } 
  .image-container img:hover { 
    transform: scale(1.5); /* Zoom in */ 
  } 
  .image-text { 
    position: absolute; 
    bottom: 10px; /* Adjust positioning as needed */ 
    left: 50%; 
    transform: translateX(-50%); /* Center horizontally */ 
    color: white; /* Or a color that contrasts with your images */ 
    font-size: 1.2em; /* Adjust font size */ 
    padding: 5px 10px; /* Add padding */ 
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */ 
    font-family: 'Compass', sans-serif; /* Assuming Compass is already defined */ 
    font-weight: normal; 
  }
  
  /* style.css */
  
  /* General Styles */
  body {
    font-family: sans-serif;  /* Default font */
    margin: 0;              /* Reset margins */
  }
  
  /* Navigation Styles */
  nav {
    background-color: transparent; /* Light gray background */
    padding: 10px;
    position: fixed;
    width: 90%;
    z-index: 10;  /* Above other content */
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background changes */
    position: sticky;
    top: 1em; /* Stick to the top */
    transition: transform 0.3s ease-in-out; 
  }
  
  nav.hidden {
    transform: translateY(-200%);
    top: 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;   /* Or whatever your desired max-width is */
    margin: 0 auto;       /* Center horizontally */
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-left: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    background-color: #333; /* Fill color */
    color: white;           /* Text color */
    padding: 10px 20px;    /* Adjust padding */
    border-radius: 20px;    /* Adjust border-radius */
    border: 2px solid white; /* White border */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Add border to transition*/
  }
  
  .nav-list a:hover {
    background-color: white; /* White background on hover */
    color: #333;          /* Dark text on hover */
    border-color: #333; /* Border changes to dark on hover */
  }
  
  
  
  /* Sandwich Menu and Overlay */
  .sandwich-menu {
    display: none;      /* Hidden by default */
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 12;       /* Above overlay */
    transition: transform 0.3s ease-in-out;
  }
  
  .sandwich-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;   /* Center the lines */
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
    transform: translateX(-100%); /* Hidden off-screen initially */
    transition: transform 0.3s ease-in-out;
    z-index: 11;       /* Above other content but below sandwich */
    display: flex;
    flex-direction: column;  /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
  }
  
  
  .overlay.open {
    transform: translateX(0);  /* Slide in */
  }
  
  
  /*THIS IS BROKEN, USE JS INSTEAD*/
  #sandwich.open span { /* Target spans when overlay is open */
    background-color: white;
  }
  
  
  
  .overlay-menu {
    list-style: none;
    padding: 0;
    text-align: center;   /* Center the menu items */
  }
  
  .overlay-menu li {
    margin: 15px 0;
  }
  
  .overlay-menu a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
  }
  
  
  
  /* Media Query for Responsive Behavior */
  @media (max-width: 767px) {
    /* Hide the nav-list on smaller screens, but DON'T affect the hidden class */
    .nav-list {
      display: none;
    }
    .sandwich-menu {
      display: block; /* Show sandwich menu on small screens */
    }
  
     /* General */
     body {
      font-size: 16px; /* Example: Adjust base font size */
    }
  
    h1 {
      font-size: 2em; /* Example: Make h1 smaller */
      font-weight: bold;
      text-align: center;
    }

  
  
    /* Section 1 */
    #section1 .section-content {
      padding: 10px; /* Reduce padding */
    }
  
    /* Section 2 */
    .section2-header {
      font-size: 1.2em; /* Adjust font size as needed */
    }
  
    .text-box {
      font-size: 1em; /* Adjust font size as needed */
    }
  
      .section2-content {
          flex-direction: column;  /* Stack content vertically */
          align-items: center;     /* Center content horizontally */
      }
      .text-box, .video-container {
          width: 90%;            /* Adjust width as needed */
          text-align: center;    /* Center text within containers */
          margin: 10px 0;         /* Add some margin between elements */
      }
  
  
    /* Section 3 */
    .image-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
      grid-template-rows: repeat(3, 1fr); /* 3 rows */ /* Adjusted rows for 6 items and 2 columns */
    }
    .image-text {
      font-size: 1em; /* Adjust font size */
    }
  
  
      nav {
          width: 100%; /* Make nav full width on small screens */
          padding: 5px; /* Reduce padding */
  
      }
  
      .nav-list {
          flex-direction: column; /* Stack nav links vertically */
          align-items: center;     /* Center nav links */
      }
  
      .nav-list li {
          margin: 10px 0;      /* Adjust vertical margin */
      }
  
      .nav-list a {
          padding: 8px 16px; /* Reduce padding */
          font-size: 1em;  /* Reduce font size */
          display: block; /* Make links full width */
          text-align: center; /* Center the links text */
          border-radius: 10px;
      }
  
  
      .overlay {
          padding-top: 20px; /* Add padding */
      }
      .overlay-menu {
          text-align: center; /* Left align menu items */
      }
  
  
      .sandwich-menu {
          left: 10px; /* Adjust position */
      }
  
  
  }
  
  /* social buttons */
  .wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: rgb(10 102 194);
    color: #ffffff;
  }
  .wrapper .compass:hover,
  .wrapper .compass:hover .tooltip,
  .wrapper .compass:hover .tooltip::before {
    background-color: #A98043;
    color: #ffffff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
  
  .wrapper .spotify:hover,
  .wrapper .spotify:hover .tooltip,
  .wrapper .spotify:hover .tooltip::before {
    background-color: #09b117;
    color: #ffffff;
  }
  
  .wrapper .envelope:hover,
  .wrapper .envelope:hover .tooltip,
  .wrapper .envelope:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  
  .wrapper .users:hover,
  .wrapper .users:hover .tooltip,
  .wrapper .users:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  
  .wrapper .phone:hover,
  .wrapper .phone:hover .tooltip,
  .wrapper .phone:hover .tooltip::before {
    background-color: #9d14ed;
    color: #ffffff;
  }